section {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 860px;
    background-repeat: no-repeat;
    margin-top: 82px;
    margin-bottom: 82px;
  }


.container {
  position: absolute;
  top: 154px;
  left: 200px;
}
 