.header-list {

    a {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #8D91A3;
    }

    
}