.header-list {
    background-color: #2B3040;
    min-height: 120px;


    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 28px 25px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            svg {
                stroke: #8D91A3;
                fill: none;
            }
        }
    }


    .icon {
        width: 24px;
        height: 22px;
        margin-bottom: 15px;
    }

    a {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #8D91A3;
    }

    li:hover .icon {
        stroke: #FFFFFF;
    }

    
}