.main-content {

    padding: 30px 20px;

    .left-side {
        max-width: 160px;
        margin: 0 auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .all-star {
            cursor: pointer;
            fill: #8D91A3;
        }

        .all-star svg {
            width: 20px;
            height: 20px;
        }

        .my-rating span {
            float: right;
        }

        .my-rating span {
            padding: 1px;
            padding-left: 9px;
          }

        .my-rating .all-star:hover svg,
        .my-rating .all-star:hover ~ span {
            fill: #FFDD3F;
        }

        img {
            margin-bottom: 25px;
        }


    }
    }

    