.main-content {

    padding: 30px 20px;

    .left-side {
        max-width: 160px;
        margin: 0 auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ////STARS

        .stars {
            cursor: pointer;
            fill: #8D91A3;
        }

        .stars svg {
            width: 20px;
            height: 20px;
        }

        .my-rating span {
            float: right;
        }

        .my-rating span {
            padding: 1px;
            padding-left: 9px;
          }

        .my-rating .stars:hover svg,
        .my-rating .stars:hover ~ span {
            fill: #FFDD3F;
        }

        .my-rating .stars.active svg,
        .my-rating .stars.active ~ span {
            fill: #FFDD3F;
        }

        ////

        img {
            margin-bottom: 25px;
        }
    }
}

    