.right-side {


    h2 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #FFFFFF;
        margin-bottom: 15px;
        padding-top: 17px;
    }

    .release {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    .titles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    #circle {
        position: relative;
    }

    .numbers {
        position: absolute;
        top: 26px;
        left: 25px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #B7BACD;
    }

    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #B7BACD;
        margin-bottom: 15px;
    }

    .footers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    span {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FFDD3F;
    }

    h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #FFFFFF;
        margin-top: 4px;
    }

    button {
        width: 155px;
        min-height: 60px;
        background: #13E28D;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

}